
/* CSS for Dating Application */

*{
    margin: 0;
    padding: 0rem;
}

h1{
    color: #000;
    text-align:center ;
    padding: 2rem;
}


.fset{
    background-color: #f5ededa9;
    padding: 1rem;
    font-weight: 500;
    margin: .1% 20% ;
    backdrop-filter: blur(2rem);
}

.Persol-detail{
    font-size: large;
    font-weight: 700;
    font-family: serif;
}

.button{
    border: 2px solid  rgb(62, 125, 219);
    padding: 3px;
    border-radius: 15px;
    background-color: rgb(62, 125, 219);
    margin-bottom: 2rem;
    
    color: #ffff;
    font-weight: 700;
    


}

button:hover{
    cursor: pointer;
    background-color:  rgb(23, 78, 161);
}
button:visited{
    cursor: pointer;
    background-color:  rgb(9, 105, 112);
}



/* CSS for Tribute Page */
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgba(252, 251, 251, 0.952);
    font-family: 'Times New Roman', Times, serif;
}

.heading{
    padding: 2rem;
    text-align: center;
    color: rgb(255, 6, 6);
    background-color: rgba(0, 0, 0, 0.918);
    
}
.picture{
    border-radius: 50%;
    border: 1px solid rgb(255, 6, 6);
    margin: 2rem;
}
span{
    color: rgb(255, 6, 6);
    font-family: serif;
    font-size: 2rem;
    font-weight: 700;
    padding-left: 30%;
    
    
}

.detailsss{
    font-weight: 600;
    padding: 2rem;
}



.heading2{
    color: rgb(38, 41, 43);
    padding: .4rem;
}

.para{
    margin: 6px;
    font-size: larger;
}

/* css for index.html */
.file{
    background-color: black;
    padding: 1rem;
    margin: 1rem;
    color: white;
    font-size: medium;
}


